

.has-brace-bottom,
.has-brace-right {
    position: relative;
}

.brace-description {
    position: absolute;
    background: rgba(255,255,255,0.1);
    font-size: 1rem;
    padding: 0.5em;
    box-shadow: 0 0 1px white;
}

.reveal pre .brace-description {
    font-family: var(--r-main-font);
}

.has-brace-bottom .brace {
    position: absolute;
    left:50%;
    top: 1em;
    transform: translateX(-50%);
    width: 100%;
    height: 35px;
    display: block;
    text-align: center;
    border: none;
    background-color: transparent;
    background-image: 
    radial-gradient(circle at 0 35px, transparent 14.5px, currentcolor 15.5px, currentcolor 19.5px, transparent 20.5px),
    radial-gradient(circle at 35px 35px, transparent 14.5px, currentcolor 15.5px, currentcolor 19.5px, transparent 20.5px);
    background-size: 35px 35px;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    overflow: visible;
}

.has-brace-bottom .brace::before {
    content: "";
    width: calc(50% - 15px);
    border-bottom: 5px solid currentcolor;
    border-left: 1px solid transparent;
    border-bottom-left-radius: 20% 30px;
    height: 100%;
    position: absolute;
    top: -15px;
    left: 0;
    box-sizing: border-box;
}

.has-brace-bottom .brace::after {
    content: "";
    width: calc(50% - 15px);
    border-bottom: 5px solid currentcolor;
    border-right: 1px solid transparent;
    border-bottom-right-radius: 20% 30px;
    height: 100%;    
    position: absolute;
    top: -15px;
    right: 0;    
    box-sizing: border-box;
}


.has-brace-bottom .brace-description {
    width: 300px;
    left:50%;
    top: calc(100% + 35px);
    transform: translateX(-50%);
}

.has-brace-right .brace {
    position: absolute;
    top:50%;
    left: 100%;
    transform: translateY(-50%);
    height: 100%;
    width: 35px;
    display: block;
    text-align: center;
    border: none;
    background-color: transparent;
    background-image: 
    radial-gradient(circle at 35px 0, transparent 14.5px, currentcolor 15.5px, currentcolor 19.5px, transparent 20.5px),
    radial-gradient(circle at 35px 35px, transparent 14.5px, currentcolor 15.5px, currentcolor 19.5px, transparent 20.5px);
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    overflow: visible;
}

.has-brace-right .brace::before {
    content: "";
    height: calc(50% - 15px);
    border-right: 5px solid currentcolor;
    border-top: 1px solid transparent;
    border-top-right-radius: 20% 30px;
    width: 100%;
    position: absolute;
    right: 16px;
    top: 0;
    box-sizing: border-box;
}

.has-brace-right .brace::after {
    content: "";
    height: calc(50% - 15px);
    border-right: 5px solid currentcolor;
    border-bottom: 1px solid transparent;
    border-bottom-right-radius: 20% 30px;
    width: 100%;
    position: absolute;
    right: 16px;
    bottom: 0;    
    box-sizing: border-box;
}

.has-brace-right .brace-description {
    max-height: 300px;
    top:50%;
    left: calc(100% + 35px);
    transform: translateY(-50%);
}