.blue {
  color: #42affa;
}

.red {
  color: #e96767;
}

.green {
  color: #00B050;
}

.grey {
  color: #979797;
}

img {
  border-radius: .5rem;
}

.slide-left {
  text-align: left;
}

.flex-slide,
.flex-center {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  text-align: left;
}

.flex-center {
  align-items: center;
}

.logo {
  height: 180px; 
  margin: 0 auto 4rem auto; 
  background: transparent;
}

.agenda {
  width: 100%;
}
.agenda h4 {
  font-size: .6em;
}

.agenda ul {
  font-size: 15px;
}

fieldset {
  display: inline-block;
  margin: 1em auto;
  padding: .5em 1em;
  background-color: #79463D;
  border: 2px solid #613831;
  font-size: 1.1rem;
  border-radius: .25rem;
}

.monospace {
  font-family: monospace;
}

.title-exo {
  background-color: #296f9d;
  color: white;
  font-size: 1rem;
  padding: .25em .5em;
  border-radius: .25rem;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
}

.slide-array {
  font-size: .5em;
  width: 50%;
  vertical-align: middle;
}

.quizz pre {
  margin: 0 auto;
}